---
import ImagePicker from "../components/image-picker";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Convert.jpg</title>
  </head>
  <body>
    <main class="grid place-items-center min-h-screen">
      <h1>Image Converter</h1>
      <ImagePicker client:only="react" origin={Astro.url.origin} />
    </main>
  </body>
</html>
